@import url('https://fonts.googleapis.com/css2?family=Share&display=swap');

body {

    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    background: #FFFFFF;
    font-family: Share;
    font-size: large;
    height: 1024px;

}

main {
    margin-top: 10px;
}

nav#mainNav {
    padding: 35px 50px;
    background-color: white;
}

section#mainSection {
    align-items: center;
    align-content: center;
    margin-top: 3rem;
}

.entrarBtn {
    color: white;
    width: 180px;
    height: 49px;
    left: 1122px;
    top: 52px;
    background: #B52727;
    border-radius: 0px 20px 20px 0px;
}

.mainLoginCliente {
    background: #E8E8E8;
    /* background: gray; */
}


article#productsImg {
    padding: 50px 0;
}


/* loja-cadastro.html */

article#loginForm input {
    font-size: 25px;
    text-align: center;
    margin-bottom: 5px;
    border-radius: 50px;
    border: 5px #2E2E32 solid;
}

article#loginForm label {
    font-size: 25px;
}

article#loginForm a {
    font-size: 18px;
}

.loginForm-clientType-span {
    font-style: italic;
    font-weight: bold;
    font-size: 171.429px;
    line-height: 193px;
    text-align: center;

    color: #FFFFFF;
}

#login-img {
    /* background-image: none; */
    width: 50%;
}

#containerPart2 {
    padding-bottom: 120px;
}

.img-fluid-home {
    border-radius: 0px 174.404px;
    width: 492.68px;
    height: 348.81px;
}

.img-fluid-search {
    border-radius: 125.733px;
    width: 478.6px;
    height: 372.13px;
}

#mainFooter {
    background: white;
    padding-bottom: 3rem;
}

footer {
    align-items: center;
    align-content: center;
    margin-top: 2.5rem;

}


footer h1 {
    font-weight: bold;
    font-size: 35px;
    line-height: 100px;
    text-align: center;
    color: rgba(46, 46, 50, 0.75);


}

.mainBtn {
    margin: 1rem 0;
    background: #B52727;
    color: white;
    box-sizing: border-box; 
    border-radius: 50px;
    border-width: 2px
}